<div class="modal">
  <header class="modal__header">
    <h2 class="modal__title">{{ isEditing ? 'Editar Meta' : 'Nova Meta' }}</h2>
    <button class="modal__close" (click)="closeModal()" type="button">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </header>

  <app-create-goal-form [goal]="goal" [isEditing]="isEditing"></app-create-goal-form>
</div>
