<form class="form" [formGroup]="form" (submit)="onSubmit()">
  <div class="form__avatars">
    <label
      for="upload"
      class="form__avatars__avatar"
      (mouseenter)="avatarIconUrl = '/assets/upload.png'"
      (mouseleave)="avatarIconUrl = '/assets/user.png'"
    >
      <input type='file' hidden id="upload" (change)="onFileSelected($event)" />
      <nz-avatar [nzSize]="128" [nzSrc]="useIcon ? avatarIconUrl : pfpUrl"></nz-avatar>
    </label>
    <label
      for="upload"
      class="form__avatars__avatar"
      (mouseenter)="avatarIconUrl = '/assets/upload.png'"
      (mouseleave)="avatarIconUrl = '/assets/user.png'"
    >
      <input type='file' hidden id="upload" (change)="onFileSelected($event)" />
      <nz-avatar [nzSize]="96" [nzSrc]="useIcon ? avatarIconUrl : pfpUrl"></nz-avatar>
    </label>
    <label
      for="upload"
      class="form__avatars__avatar"
      (mouseenter)="avatarIconUrl = '/assets/upload.png'"
      (mouseleave)="avatarIconUrl = '/assets/user.png'"
    >
      <input type='file' hidden id="upload" (change)="onFileSelected($event)" />
      <nz-avatar [nzSize]="64" [nzSrc]="useIcon ? avatarIconUrl : pfpUrl"></nz-avatar>
    </label>
  </div>
  <mat-form-field class="form__field">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field class="form__field form__field--select">
    <mat-label>Sociedade</mat-label>
    <mat-select formControlName="society">
      <mat-option *ngFor="let society of societyOptions" [value]="society.value">
        {{ society.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox color="primary" formControlName="isTrainee">Trainee</mat-checkbox>
  <button
    class="form__field__button"
    mat-flat-button
    color="primary"
    [disabled]="!form.valid"
    type="submit"
  >{{ getButtonText() }}</button>
</form>
<app-spinner [loading]="loading" [fullscreen]="true"></app-spinner>
