<form class="form" [formGroup]="form" (submit)="onSubmit()">
  <div class="form__avatars">
    <label
      for="upload"
      class="form__avatars__avatar"
    >
      <input type='file' hidden id="upload" (change)="onFileSelected($event)" />
      <nz-avatar [nzSize]="128" [nzSrc]="getSrc()"></nz-avatar>
    </label>
    <label
      for="upload"
      class="form__avatars__avatar"
    >
      <input type='file' hidden id="upload" (change)="onFileSelected($event)" />
      <nz-avatar [nzSize]="64" [nzSrc]="getSrc()"></nz-avatar>
    </label>
    <label
      for="upload"
      class="form__avatars__avatar"
    >
      <input type='file' hidden id="upload" (change)="onFileSelected($event)" />
      <nz-avatar [nzSize]="32" [nzSrc]="getSrc()"></nz-avatar>
    </label>
  </div>
  <mat-form-field class="form__field">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field class="form__field form__field--select">
    <mat-label>Sociedade</mat-label>
    <mat-select formControlName="society">
      <mat-option value="Nova Sociedade">
        Nova Sociedade
      </mat-option>
      <mat-option *ngFor="let society of societyOptions" [value]="society.value">
        {{ society.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field
    *ngIf="showNewSocietyFormField()"
    class="form__field"
  >
    <mat-label>Nova Sociedade</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      formControlName="newSociety"
    ></textarea>
  </mat-form-field>
  <mat-checkbox class="form__field" color="primary" formControlName="isTrainee">Trainee</mat-checkbox>
  <mat-checkbox class="form__field" color="primary" formControlName="blocked">Bloquear</mat-checkbox>
  <button
    class="form__button"
    mat-flat-button
    color="primary"
    [disabled]="!form.valid"
    type="submit"
  >{{ getButtonText() }}</button>
</form>
<app-spinner [loading]="loading" [fullscreen]="true"></app-spinner>
