<div class="page">
  <!-- <div class="page__banner">
    <p class="page__banner__text">
      <b>PSEL</b> 2024.1 está <b>aberto</b>! Inscreva-se <a class="page__banner__text__link" target="_blank" href="https://forms.gle/GyJ7noXP1rr8qCNc7">aqui</a>!
    </p>
  </div> -->
  <div class="page__navbar">
    <div class="page__navbar__logo">
      <img src="assets/agora-logo.png" class="page__navbar__logo__agora" (click)="goToLandingPage()" />
      <img src="assets/sd-logo.png" class="page__navbar__logo__sd" />
    </div>
    <ul class="page__navbar__menu">
      <li class="page__navbar__menu__option" routerLink="/login">Login</li>
      <!-- <li class="page__navbar__menu__option">Cadastre-se</li> -->
    </ul>
  </div>
  <!-- <div class="page__upload" *ngIf="isAdmin()">
    <label class="page__upload__label"
      for="participants-upload"
    >
      <button
        class="page__upload__label__button"
        mat-flat-button color="primary"
        (click)="participantsFileUpload()"
      >
        Enviar arquivo de participantes
      </button>
      <input
        #participantsUpload
        class="page__upload__label__input"
        type='file'
        hidden
        id="participants-upload"
        (change)="onFileSelected($event)"
      />
    </label>
  </div> -->
  <div class="page__content">
    <div class="page__content__title">Inscritos no Campeonato de Metadebate</div>
    <form class="page__content__filters" [formGroup]="form">
      <mat-form-field class="page__content__filters__filter">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="page__content__filters__filter">
        <mat-label>Sociedade</mat-label>
        <mat-select formControlName="society">
          <mat-option>Nenhuma</mat-option>
          <mat-option *ngFor="let option of societyOptions" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="page__content__filters__filter">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option>Nenhuma</mat-option>
          <mat-option *ngFor="let option of categoryOptions" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="page__content__filters__filter">
        <mat-label>Função</mat-label>
        <mat-select formControlName="roles" multiple>
          <mat-option *ngFor="let option of roleOptions" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="page__content__filters__buttons">
        <button
          *ngIf="isAdmin()"
          class="page__content__filters__buttons__button"
          mat-flat-button
          color="primary"
          (click)="openCreateParticipantModal()"
        >Criar Participante</button>
        <button
          *ngIf="isAdmin()"
          class="page__content__filters__buttons__button"
          mat-flat-button
          color="primary"
          (click)="openDuoRegistrationModal()"
        >Registrar Duplas</button>
      </div>
    </form>
    <div class="page__content__participants">
      <div class="page__content__participants__participant" *ngFor="let participant of filteredParticipants">
        <div *ngIf="participant.emoji" class="page__content__participants__participant__mvp">{{ participant.emoji }}</div>
        <div class="page__content__participants__participant__pfp" *ngIf="isAdmin()">
          <label
            class="page__content__participants__participant__pfp__label"
            [for]="'pfp-upload-' + participant.id"
          >
            <input type='file' hidden [id]="'pfp-upload-' + participant.id" (change)="onPfpFileSelected($event, participant)" />
            <nz-avatar [nzSize]="128" [nzSrc]="getSrc(participant)"></nz-avatar>
          </label>
        </div>
        <div class="page__content__participants__participant__pfp" *ngIf="!isAdmin()">
          <nz-avatar [nzSize]="128" [nzSrc]="getSrc(participant)"></nz-avatar>
        </div>
        <div class="page__content__participants__participant__name">{{ participant.name }}</div>
        <div class="page__content__participants__participant__society">{{ participant.society }}</div>
        <div *ngIf="participant.category" class="page__content__participants__participant__category">
          {{ getParticipantCategoryViewValue(participant.category) }}
          <span *ngIf="participant.category === ParticipantCategory.dino">🦕</span>
        </div>
        <div *ngIf="participant.roles" class="page__content__participants__participant__roles">
          <div *ngFor="let role of participant.roles" class="page__content__participants__participant__roles__role">
            {{ getTournamentRoleViewValue(role) }}
          </div>
        </div>
        <div *ngIf="participant.duoId" class="page__content__participants__participant__duo">
          <span>Dupla:</span> {{ getParticipantDuo(participant) }}
        </div>
        <div class="page__content__participants__participant__date">
          <span>Inscrito em:</span> {{ getDate(participant.subscribedAt) }}
        </div>
        <div class="page__content__participants__participant__admin" *ngIf="isAdmin()">
          <img (click)="editParticipant(participant.id)" src="assets/edit-text.png" class="page__content__participants__participant__admin__icon" />
          <img (click)="deleteParticipant(participant.id)" src="assets/delete.png" class="page__content__participants__participant__admin__icon" />
        </div>
      </div>
  </div>
</div>
