@import 'src/variables.scss';

.page {
  background: $black;
  // overflow-x: hidden;
  width: 100%;

  &__banner {
    height: 64px;
    background: $primary;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      color: black;
      font-size: 24px;

      &__link {
        color: $link;
      }
    }
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 64px 128px;

    &__logo {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 24px;

      &__agora {
        padding-bottom: 16px;
        height: 60px;
        cursor: pointer;
      }

      &__sd {
        width: 48px;
        height: 48px;
        padding: 16px 0 16px 24px;
        border-left: 1px solid $secondary;
      }
    }

    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      list-style: none;

      &__option {
        color: $primary;
        font-size: 18px;
        line-height: 100%;
        padding: 16px 24px;
        border-right: 1px solid $secondary;
        cursor: pointer;

        transition: $transition;

        &:hover {
          text-shadow: 0 0 12px $primary, 0 0 24px $primary;
        }

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  &__upload {
    padding: 0 128px 16px 128px;
  }

  &__content {
    padding: 0 128px;

    &__title {
      margin-bottom: 32px;
      color: $primary;
      font-size: 32px;
    }

    &__filters {
      margin-bottom: 32px;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 32px;

      &__buttons {
        margin-left: auto;

        display: flex;
        gap: 16px;
      }
    }

    &__participants {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding-bottom: 32px;
      row-gap: 64px;

      &__participant {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;

        &__mvp {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 28px;
          z-index: 2;
        }

        &__pfp {
          &__label {
            position: relative;
            transition: $transition;
            display: block;
            width: 100%;
            height: 100%;

            &:hover {
              cursor: pointer;
            }

            &:hover::after {
              content: '';
              background: black;
              opacity: 0.3;
              width: 100%;
              height: 100%;
              position: absolute;
              border-radius: 50%;
              top: 0;
              left: 0;
            }
          }
        }

        &__name {
          font-size: 20px;
          color: $primary;
        }

        &__society {
          font-size: 18px;
          color: $white;
        }

        &__category {
          color: $primary;
        }

        &__roles {
          padding: 4px 0;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          gap: 8px;

          &__role {
            color: $white;
            border: 1px solid $white;
            background: $brown;
            border-radius: 30px;
            padding: 4px 8px;
            font-size: 14px;
          }
        }

        &__duo {
          color: $primary;
          span {
            color: $secondary;
          }
        }

        &__date {
          color: $white;

          span {
            color: $secondary;
          }
        }

        &__admin {
          padding-top: 8px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;

          &__icon {
            cursor: pointer;
            color: $text-secondary-dark;
            font-size: 24px;
            width: 24px;
            height: 24px;
            transition: color $transition-fast;

            &:hover {
              color: $text-primary-dark;
            }

            &--delete:hover {
              color: $danger;
            }
          }
        }
      }
    }
  }
}

@media (width <= 1600px) {
  .page {
    &__content {
      &__participants {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media (width <= 1400px) {
  .page {
    &__navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 32px 64px;

      &__logo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 16px;

        &__agora {
          padding-bottom: 8px;
          height: 48px;
        }

        &__sd {
          width: 32px;
          height: 32px;
          padding: 8px 0 8px 16px;
          border-left: 1px solid $secondary;
        }
      }

      &__menu {
        &__option {
          font-size: 16px;
          padding: 16px 24px;
        }
      }
    }

    &__upload {
      padding: 0 64px 16px 64px;
    }

    &__content {
      padding: 0 64px;

      &__title {
        margin-bottom: 16px;
        font-size: 24px;
      }

      &__filters {
        margin-bottom: 32px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 32px;

        &__button {
          margin-left: auto;
        }
      }

      &__participants {
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 32px;
        row-gap: 64px;

        &__participant {
          gap: 8px;

          &__name {
            font-size: 20px;
            color: $primary;
          }

          &__society {
            font-size: 18px;
            color: $white;
          }

          &__date {
            color: $secondary;
          }

          &__admin {
            padding-top: 8px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;

            &__icon {
              cursor: pointer;
              color: $text-secondary-dark;
              font-size: 24px;
              width: 24px;
              height: 24px;
              transition: color $transition-fast;

              &:hover {
                color: $text-primary-dark;
              }

              &--delete:hover {
                color: $danger;
              }
            }
          }
        }
      }
    }
  }
}

@media (width <= 1200px) {
  .page {
    &__content {
      &__participants {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (width <= 800px) {
  .page {
    &__content {
      &__filters {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;

        &__filter {
          width: 100%;
        }

        &__button {
          margin-left: 0;
          width: 100%;
        }
      }

      &__participants {
        grid-template-columns: repeat(1, 1fr);

        &__participant {
          &__name {
            text-align: center;
          }
        }
      }
    }
  }
}

@media (width <= 600px) {
  .page {
    &__navbar {
      padding: 16px 32px;
    }
    &__upload {
      padding: 0 32px 16px 32px;
    }
    &__content {
      padding: 0 32px;
    }
  }
}

@media (width <= 400px) {
  .page {
    &__navbar {
      padding: 16px 16px;
    }
    &__upload {
      padding: 0 16px 16px 16px;
    }
    &__content {
      padding: 0 16px;

      &__participants {
        &__participant {
          &__mvp {
            left: 50%;
            transform: translateX(-50%) translateX(-48px);
          }
        }
      }
    }
  }
}
