@import 'src/variables.scss';

.article {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50rem;
  margin: 0 auto;

  &__button {
    align-self: flex-start;
  }

  &__details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;

    &__detail {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.75rem;
      height: 4rem;

      &__title {
        font-size: 0.75rem;
        line-height: 100%;
        color: $white;
      }

      &__value {
        font-size: 1rem;
        line-height: 100%;
        color: $primary;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        margin: auto;
      }
    }
  }

  &__title {
    font-size: 2.5rem;
    color: $white;
    font-weight: bold;
    line-height: 125%;
  }
}

@media (width <= $medium) {
  .article {
    &__details {
      gap: 1.5rem;
      flex-direction: column;

      &__detail {
        height: auto;

        &__value {
          margin: 0;
        }
      }
    }
  }
}
