<div class="graphs">
  <div class="graphs__header">
    <app-logo></app-logo>
    <form [formGroup]="form" class="graphs__header__form">
      <app-select
        [form]="form"
        control="graph"
        [options]="graphOptions"
        placeholder="Escolha o gráfico"
      ></app-select>
    </form>
  </div>
  <div class="graphs__body">
    <div class="graphs__body__graph" [ngClass]="{ 'graphs__body__graph--hide': graph !== '0' }">
      <canvas #totalSpsBySpeaker></canvas>
    </div>
    <div class="graphs__body__graph" [ngClass]="{ 'graphs__body__graph--hide': graph !== '1' }">
      <canvas #spsBySpeakerAndRound></canvas>
    </div>
    <div class="graphs__body__graph" [ngClass]="{ 'graphs__body__graph--hide': graph !== '2' }">
      <canvas #spsByJudgeAndRound></canvas>
    </div>
    <div class="graphs__body__graph" [ngClass]="{ 'graphs__body__graph--hide': graph !== '3' }">
      <canvas #positionsByDuoAndRound></canvas>
    </div>
    <ul
      style="position: absolute; width: 50rem; top: 30rem;"
      [style.opacity]="graph === '1' || graph === '3' ? 1 : 0"
    >
      <li *ngFor="let motion of motions; index as index">{{ rounds[index] }}: {{ motions[index] }}</li>
    </ul>
  </div>
</div>
<app-sidebar></app-sidebar>
