<form class="form" [formGroup]="form" mat-dialog-content>
  <mat-stepper class="form__stepper" [linear]="false" orientation="vertical">
    <mat-step class="form__stepper__step" [stepControl]="debateFormGroup">
      <div class="form__stepper__step__debate" [formGroup]="debateFormGroup">
        <ng-template class="form__stepper__step__debate__label" matStepLabel>Debate</ng-template>
        <mat-form-field class="form__stepper__step__debate__input">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker #picker></mat-datepicker>
          <input matInput [matDatepicker]="picker" formControlName="date" [max]="maxDate" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-label>Data</mat-label>
        </mat-form-field>
        <mat-form-field class="form__stepper__step__debate__input">
          <mat-label>Horário</mat-label>
          <mat-select formControlName="time">
            <mat-option *ngFor="let time of timeOptions" [value]="time.value">
              {{ time.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form__stepper__step__debate__input">
          <mat-label>Estilo</mat-label>
          <mat-select formControlName="style">
            <ng-container *ngFor="let entry of debateStyle | keyvalue">
              <mat-option [value]="entry.key">{{ entry.value }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form__stepper__step__debate__input">
          <mat-label>Local</mat-label>
          <mat-select formControlName="venue">
            <ng-container *ngFor="let entry of debateVenue | keyvalue">
              <mat-option [value]="entry.key">{{ entry.value }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form__stepper__step__debate__input">
          <mat-label>Tipo de Moção</mat-label>
          <mat-select formControlName="motionType">
            <ng-container *ngFor="let entry of motionType | keyvalue">
              <mat-option [value]="entry.key">{{ entry.value }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>O tipo de moção é obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field class="form__stepper__step__debate__input">
          <mat-label>Tema da Moção</mat-label>
          <mat-select formControlName="motionTheme">
            <ng-container *ngFor="let entry of motionTheme | keyvalue">
              <mat-option [value]="entry.key">{{ entry.value }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>O tema da moção é obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field
          class="form__stepper__step__debate__input form__stepper__step__debate__input--motion"
        >
          <mat-label>Moção</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            formControlName="motion"
          ></textarea>
          <mat-error>A moção é obrigatória</mat-error>
        </mat-form-field>
        <mat-form-field class="form__stepper__step__debate__input">
          <mat-label>Ocasião</mat-label>
          <mat-select formControlName="tournament">
            <mat-option *ngFor="let tournament of tournamentOptions" [value]="tournament.value">
              {{ tournament.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          *ngIf="showNewTournamentFormField()"
          class="form__stepper__step__debate__input"
        >
          <mat-label>Nova Ocasião</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            formControlName="newTournament"
          ></textarea>
        </mat-form-field>
        <mat-form-field
          class="form__stepper__step__debate__input"
          formArrayName="infoSlides"
          *ngFor="let infoSlide of infoSlidesFormArray.controls;
          index as index"
        >
          <mat-label>InfoSlide {{ index+1 }}</mat-label>
          <textarea
            [formControlName]="index"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            formControlName="motion"
          ></textarea>
          <img (click)="removeInfoSlide(index)" *ngIf="showInfoSlideDeleteIcon(index)" src="assets/delete.png" />
        </mat-form-field>
        <button *ngIf="canAddInfoSlide()" mat-stroked-button (click)="addInfoSlide()">Adicionar InfoSlide</button>
        <button mat-flat-button color="primary" matStepperNext [disabled]="!debateFormGroup.valid">Próximo</button>
      </div>
    </mat-step>
    <mat-step class="form__stepper__step">
      <ng-template matStepLabel>Debatedores</ng-template>
      <div class="form__stepper__step__debaters" [formGroup]="debatersFormGroup">
        <div class="form__stepper__step__debaters__filters" [formGroup]="debatersFilterFormGroup">
          <mat-form-field class="form__stepper__step__debaters__filters__field">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field class="form__stepper__step__debaters__filters__field form__stepper__step__debaters__filters__field--society">
            <mat-label>Sociedade</mat-label>
            <mat-select formControlName="society">
              <mat-option>Remover Filtro</mat-option>
              <ng-container *ngFor="let entry of society | keyvalue">
                <mat-option [value]="entry.key">{{ entry.value }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form__stepper__step__debaters__all" formArrayName="debaters" >
          <div class="form__stepper__step__debaters__all__label">Selecione os participantes do debate:</div>
          <mat-checkbox
            *ngFor="let debater of filteredDebaters; index as index"
            color="primary"
            [formControlName]="getFilteredDebaterIndex(index)"
          >{{ debater.name }}</mat-checkbox>
        </div>
        <div
          class="form__stepper__step__debaters__iron"
          *ngIf="showIrons()"
          formArrayName="irons"
          >
            <div class="form__stepper__step__debaters__iron__label">Selecione caso algum dos participantes tenha sido iron:</div>
            <mat-checkbox
              *ngFor="let debater of uniqueSelectedDebaters; index as index"
              color="primary"
              [formControlName]="index"
            >{{ debater.name }}</mat-checkbox>
        </div>
        <div class="form__stepper__step__debaters__houses">
          <div
            #debatersLegendHouse
            *ngFor="let house of debateHouses; index as index"
            class="form__stepper__step__debaters__houses__legend"
            [ngClass]="
              'form__stepper__step__debaters__houses__legend--' +
              getHouseBackgroundColor(house[1])
            "
            (mouseenter)="debatersLegendMouseEnter(index, house)"
            (mouseleave)="debatersLegendMouseLeave(index, house)"
          >
            {{ house[1] }}
          </div>
        </div>
        <div style="font-weight: 500">Debatedores</div>
        <div
          class="form__stepper__step__debaters__positions"
          cdkDropList
          cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="dropDebater($event)"
        >
          <div
            #debater
            class="form__stepper__step__debaters__positions__debater"
            [ngClass]="
              'form__stepper__step__debaters__positions__debater--' +
              getDebaterBackgroundColor(index)
            "
            *ngFor="let debater of selectedDebaters;
            index as index"
            cdkDrag
          >
            <div
              class="form__stepper__step__debaters__positions__debater__placeholder"
              *cdkDragPlaceholder
            ></div>
            <div class="form__stepper__step__debaters__positions__debater__content">
              <div
                class="form__stepper__step__debaters__positions__debater__content__name"
              >{{ index+1 }}. {{ debater.name }}</div>
              <div
                class="form__stepper__step__debaters__positions__debater__content__position"
              >{{ getDebatePositionByIndex(index) }}</div>
            </div>
          </div>
        </div>
        <div
          class="form__stepper__step__debaters__sps"
          formArrayName="sps"
        >
          <mat-form-field
            *ngFor="let sp of spsFormArray.controls; index as index"
            [style.width] = "'calc(calc(100% - ' + spsFormArray.length*2 + 'rem) / ' + spsFormArray.length + ')'"
          >
            <mat-label>Speaker Points</mat-label>
            <input matInput [formControlName]="index" type="number" />
            <mat-error *ngIf="sp.errors && sp.errors['min']">O valor mínimo é 50</mat-error>
            <mat-error *ngIf="sp.errors && sp.errors['max']">O valor máximo é 100</mat-error>
          </mat-form-field>
        </div>
        <div style="font-weight: 500">Call</div>
        <div
          class="form__stepper__step__debaters__call"
          cdkDropList
          cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="dropHouse($event)"
        >
          <div
            #call
            class="form__stepper__step__debaters__call__house"
            *ngFor="let house of callHouses;
            index as index"
            cdkDrag
            [ngClass]="
              'form__stepper__step__debaters__call__house--' +
              getHouseBackgroundColor(house[1])
            "
            [id]="house[0]"
          >
            <div
              class="form__stepper__step__debaters__call__house__placeholder"
              *cdkDragPlaceholder
            ></div>
            <div class="form__stepper__step__debaters__call__house__content">
              <div
                class="form__stepper__step__debaters__call__house__content__name"
              >{{ index+1 }}º {{ house[1] }}</div>
            </div>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step class="form__stepper__step">
      <ng-template matStepLabel>Juízes</ng-template>
      <div class="form__stepper__step__judges" [formGroup]="judgesFormGroup">
        <mat-form-field>
          <mat-label>Chair</mat-label>
          <mat-select formControlName="chair">
            <mat-form-field [formGroup]="judgesFormGroup" style="width: 100%">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="filter" />
            </mat-form-field>
            <ng-container *ngIf="judgesFormGroup.controls['chair'].value">
              <mat-option *ngFor="let judge of judgeOptions" [value]="judge.value">
                {{ judge.viewValue }}
              </mat-option>
            </ng-container>
            <ng-container *ngIf="!judgesFormGroup.controls['chair'].value">
              <mat-option *ngFor="let judge of filteredJudgeOptions" [value]="judge.value">
                {{ judge.viewValue }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field formArrayName="wings" *ngFor="let wing of wingsFormArray.controls; index as index">
          <mat-label>Wing {{ index+1 }}</mat-label>
          <mat-select [formControlName]="index">
            <mat-form-field [formGroup]="judgesFormGroup" style="width: 100%">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="filter" />
            </mat-form-field>
            <ng-container *ngIf="wing.value">
              <mat-option *ngFor="let judge of judgeOptions" [value]="judge.value">
                {{ judge.viewValue }}
              </mat-option>
            </ng-container>
            <ng-container *ngIf="!wing.value">
              <mat-option *ngFor="let judge of filteredJudgeOptions" [value]="judge.value">
                {{ judge.viewValue }}
              </mat-option>
            </ng-container>
          </mat-select>
          <img (click)="removeWing(index)" src="assets/delete.png" />
        </mat-form-field>
        <button mat-stroked-button (click)="addWing()">Adicionar Wing</button>
        <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">{{ getButtonText() }}</button>
      </div>
    </mat-step>
  </mat-stepper>
</form>
<app-spinner [loading]="loading" [fullscreen]="true"></app-spinner>
