.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  background: var(--light-gray);
  border-right: var(--border-medium-gray);

  &__items {
    display: flex;
    flex-direction: column;
    list-style: none;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: calc(100% - 4rem);
      gap: 1.5rem;
      cursor: pointer;
      padding: 1rem 2rem;
      border-bottom: var(--border-medium-gray);

      &--active {
        border-left: 5px solid var(--yellow-2);
        background: var(--white);
        padding-left: calc(2rem - 5px);
      }

      &:hover {
        background: var(--white);
      }

      &__icon {
        width: 4rem;
        height: 4rem;
        filter: var(--filter);
      }

      &__text {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        color: var(--yellow-2);
      }
    }
  }

  &__credits {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--medium-gray);

    &__name {
      color: var(--black);
      font-size: 0.9rem;
    }
  }

  &__logout {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    font-weight: 400;
  }
}
