<div class="sidebar">
  <ul class="sidebar__items">
    <li
      class="sidebar__items__item"
      *ngFor="let item of items"
      [routerLink]="item.route"
      routerLinkActive="sidebar__items__item--active"
    >
      <img class="sidebar__items__item__icon" [src]="item.src" />
      <span class="sidebar__items__item__text">{{ item.title }}</span>
    </li>
  </ul>
  <span class="sidebar__credits">
    by <span class="sidebar__credits__name">Luan Martins</span>
    & <span class="sidebar__credits__name">Camila Caleones</span>
  </span>
  <span class="sidebar__logout" (click)="logout()">Logout</span>
</div>
