@import '/src/variables.scss';

.page {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__navbar {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 256px);
    margin: 0 128px;

    &__header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 32px;
      margin-bottom: 32px;
    }

    &__ranks {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;

      &__rank {
        &__title {
          font-size: 32px;
          color: $primary;
        }

        &__disclaimer {
          margin-top: 8px;
          color: $secondary;
          line-height: 125%;
        }

        &__placements {
          margin-top: 16px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 24px;

          &__placement {
            &__title {
              font-size: 24px;
              color: $white;
              margin-bottom: 24px;

              &--1 {
                font-size: 22px;
              }

              &--2 {
                font-size: 20px;
              }
            }

            &__members {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              gap: 32px;
              flex-wrap: wrap;

              &__member {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 16px;

                &__pfp {
                  position: relative;

                  &__icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 40px;

                    &--1 {
                      width: 35px;
                    }

                    &--2 {
                      width: 30px;
                    }
                  }
                }

                &__description {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 8px;

                  &__name {
                    color: $primary;
                    font-size: 24px;

                    &--1 {
                      font-size: 22px;
                    }

                    &--2 {
                      font-size: 20px;
                    }
                  }

                  &__society {
                    color: $white;
                    font-size: 20px;

                    &--1 {
                      font-size: 18px;
                    }

                    &--2 {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &__divider {
      margin: 64px 0;
      display: block;
      width: 100%;
      border-bottom: 1px solid $secondary;
    }

    &__statistics {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 64px;
      margin-bottom: 32px;
      width: 100%;

      &__statistic {
        width: 100%;

        &__title {
          font-size: 32px;
          color: $primary;
          margin-bottom: 32px;
        }

        &__fields {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 32px;

          &__field {
            &__title {
              font-size: 20px;
              color: $white;
              margin-bottom: 8px;
              text-align: center;
            }

            &__description {
              color: $white;
            }

            &__chart {
              &__canvas {
                height: 300px;

                &--full {
                  height: 600px;
                }
              }
            }

            &--full {
              grid-column: 1 / span 2;
            }
          }
        }
      }
    }
  }
}
