@import '/src/variables.scss';

.page {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__navbar {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 256px);
    margin: 0 128px;

    &__header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 32px;
      margin-bottom: 32px;
    }

    &__body {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 64px;

      &__ranks {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 64px;
        padding-bottom: 32px;
        border-bottom: 1px solid $secondary;

        &__rank {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 32px;
          width: calc(calc(100% - 256px) / 3);

          &__title {
            font-size: 32px;
            color: $primary;
            line-height: 125%;
          }

          &__standings {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 32px;

            &__standing {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              gap: 16px;

              &--0 &__image {
                width: 120px;
                height: 120px;
              }

              &--1 &__image {
                width: 100px;
                height: 100px;
                padding: 0 10px;
              }

              &--2 &__image {
                width: 80px;
                height: 80px;
                padding: 0 20px;
              }

              &__value {
                font-size: 40px;
                color: $white;
                line-height: 100%;
                margin-right: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 48px;

                &--big {
                  min-width: 108px;
                }
              }

              &--1 &__value {
                font-size: 36px;
              }

              &--2 &__value {
                font-size: 32px;
              }

              &__content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 8px;

                &__members {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  gap: 8px;

                  &__member {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 8px;

                    &__name {
                      color: $primary;
                      font-size: 16px;
                      line-height: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &__statistics {
        padding: 32px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 32px 0;

        &__statistic {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 16px;
          text-align: center;
          width: calc(20% - 1px);

          &:not(:nth-child(5n+1)) {
            border-left: 1px solid $secondary;
          }

          &__title {
            font-size: 20px;
            color: $primary;
          }

          &__value {
            font-size: 24px;
            color: $white;
          }
        }
      }

      &__charts {
        padding: 64px 0;
        border-top: 1px solid $secondary;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 80px 64px;

        &__chart {
          display: flex;
          flex-direction: column;
          width: calc(50% - 32px);
          height: 640px;

          &__title {
            font-size: 32px;
            color: $primary;
            line-height: 100%;
            margin-bottom: 16px;
          }

          &__description {
            font-size: 20px;
            color: $white;
            line-height: 125%;
            margin-bottom: 32px;
          }

          &__chart {
            height: 100%;
          }
        }
      }
    }
  }
}
