@import './src/variables.scss';

.goals {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__navbar {
    width: 100%;
  }

  &__button {
    align-self: flex-start;
    width: calc(100% - 256px);
    margin: 16px 128px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 256px);
    margin: 0 128px;

    &__tabs {
      width: 100%;

      &__tab {
        padding: 32px 0;

        &__goals {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 8px;
          padding: 32px 0;

          &__goal {
            &__info {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;

              &__title {
                display: flex;
                justify-content: row;
                align-items: center;
                gap: 8px;

                &__text {
                  font-size: 16px;
                  color: $white;
                }

                &__counter {
                  font-size: 14px;
                  color: $primary;
                }
              }

              &__icon {
                cursor: pointer;
                filter: $filter;
                width: 24px;
                height: 24px;
                margin-left: 24px;
              }
            }

            &__progress {
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}
