<form [formGroup]="form" class="form">
  <div class="form__filter">
    <mat-form-field class="form__filter__input">
      <mat-label>Tag</mat-label>
      <mat-select formControlName="tag">
        <mat-option>Nenhuma</mat-option>
        <mat-option *ngFor="let tag of tagOptions" [value]="tag.value">
          {{ tag.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button *ngIf="isAdmin()" class="form__button" mat-flat-button color="primary" (click)="openCreateArticleModal()">Criar</button>
</form>

<div class="articles">
  <div class="articles__header">
    <div class="articles__header__title">Criado em</div>
    <div class="articles__header__title">Título</div>
    <div class="articles__header__title">Autor</div>
    <div class="articles__header__title"></div>
    <div class="articles__header__title"></div>
  </div>
  <div class="articles__body">
    <div class="articles__body__row" *ngFor="let article of filteredArticles" (click)="goToArticlePage(article.id)">
      <div class="articles__body__row__value">{{ getDate(article.createdAt) }}</div>
      <div class="articles__body__row__value">{{ article.title }}</div>
      <div class="articles__body__row__value">{{ getAuthorName(article.authorId) }}</div>
      <div class="articles__body__row__value">
        <img *ngIf="showEdit()" (click)="editArticle(article.id, $event)" src="assets/edit-text.png" class="articles__body__row__value__icon" />
      </div>
      <div class="articles__body__row__value">
        <img *ngIf="showDelete()" (click)="deleteArticle(article.id, $event)" src="assets/delete.png" class="articles__body__row__value__icon" />
      </div>
    </div>
  </div>
</div>
