@import '/src/variables';

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1rem 0;
  gap: 1rem;

  &__filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;

    &__input {
      width: 100%;
    }
  }
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem 0;

  &__header {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 6rem 2.5rem 2.5rem;
    gap: 1rem;
    padding-bottom: 1rem;

    &__title {
      color: $primary;
    }
  }

  &__body {
    &__row {
      padding: 0.5rem 0;
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 6rem 2.5rem 2.5rem;
      gap: 1rem;

      border-top: 1px solid $secondary;
      cursor: pointer;
      transition: $transition;

      &:last-child {
        border-bottom: 1px solid $secondary;
      }

      &:hover {
        background: $brown;
      }

      &__value {
        color: $white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        line-height: 125%;

        &__button {
          font-size: 1rem;
        }

        &__icon {
          filter: $filter;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
