<form [formGroup]="form" class="form">
  <div class="form__filter">
    <mat-form-field class="form__filter__input">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-checkbox
      class="form__filter__checkbox"
      color="primary"
      formControlName="active"
    >Ativos em 2024</mat-checkbox>
    <mat-checkbox
      class="form__filter__checkbox"
      color="primary"
      formControlName="trainee"
    >Trainees</mat-checkbox>
  </div>
  <button *ngIf="isAdmin()" class="form__button" mat-flat-button color="primary" (click)="openCreateMemberModal()">Criar</button>
</form>

<div style="position: relative; min-height: 500px;">
  <table
    class="table"
    mat-table
    [dataSource]="dataSource"
    matSort
    multiTemplateDataRows
    matSortActive="name"
    matSortDirection="asc"
    matSortDisableClear
  >
    <ng-container [matColumnDef]="column" *ngFor="let column of columns; index as index">
      <th
        class="table__head__tr__th"
        [ngClass]="'table__header__tr__th--' + index"
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="column"
      >{{ label[column] }}</th>
      <td
        class="table__body__tr__td"
        [ngClass]="'table__body__tr__td--' + index"
        mat-cell
        *matCellDef="let element"
      >
        {{ getColumnData(element, column) }}
        <ng-container *ngIf="column === 'edit' && isAdmin()">
          <img (click)="editMember(element.id)" src="assets/edit-text.png" class="table__body__tr__td__img" />
        </ng-container>
        <ng-container *ngIf="column === 'delete' && debatesParticipations[element.id] === 0 && isAdmin()">
          <img (click)="deleteMember(element.id)" src="assets/delete.png" class="table__body__tr__td__img" />
        </ng-container>
      </td>
    </ng-container>

    <tr class="table__head__tr" mat-header-row *matHeaderRowDef="columns"></tr>
    <tr
      class="table__body__tr"
      mat-row
      *matRowDef="let element; columns: columns"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
  </table>
  <app-spinner [loading]="loading" [fullscreen]="true"></app-spinner>
</div>
<mat-paginator pageSize="10"></mat-paginator>
