@import '/src/variables';

.form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 32px;

  &__filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;

    &__input {
      width: 240px;
    }
  }
}

.table {
  position: relative;
  width: 100%;
  overflow-x: hidden;

  &__header {
    &__tr {
      &__th {
        width: 0;
        padding-right: 16px;
        white-space: nowrap;

        &--0 {
          width: 20%;
          white-space: normal;
        }

        &--1 {
          width: 60%;
        }

        &--2 {
          width: 20%;
        }
      }
    }
  }

  &__body {
    &__tr {
      padding-right: 16px;
      cursor: pointer;
      transition: $transition;

      &__td {
        padding-right: 16px;
        width: 0;
        white-space: nowrap;
        vertical-align: middle;
        &__img {
          filter: $filter;
          width: 24px;
          height: 24px;
          padding: 8px 16px;
        }

        &__details {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 32px;
          position: relative;

          &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            gap: 8px;

            &__name {
              font-size: 24px;
              color: $primary;
            }

            &__society {
              font-size: 18px;
              color: $white;
            }
          }
        }

        &__detail {
          overflow: hidden;
        }

        &--collapsed {
          height: 0;
        }

        &--expanded {
          height: auto;
        }

        &--2 {
          width: max-content;
          white-space: normal;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }

      &--detail {
        height: 0;
        background: $brown;
      }

      &:hover {
        background: rgba(0,0,0,0.05);
      }
    }
  }
}
