<div class="logo" *ngIf="!small">
  <div class="logo__upper">
    <img class="logo__upper__image" src="assets/dracotia.png" />
    <div class="logo__upper__text">
      <img class="logo__upper__text__detail" src="assets/logo.png" />UFRJ
    </div>
  </div>
  <h2 class="logo__lower">Sociedade de Debates da <br>Universidade Federal do Rio de Janeiro</h2>
</div>

<div class="logo--small logo" *ngIf="small">
  <div class="logo--small__upper logo__upper">
    <img class="logo--small__upper__image logo__upper__image" src="assets/dracotia.png" />
    <div class="logo--small__upper__text logo__upper__text">
      <img class="logo--small__upper__text__detail logo__upper__text__detail" src="assets/logo.png" />UFRJ
    </div>
  </div>
  <h2 class="logo--small__lower logo__lower">Sociedade de Debates da <br>Universidade Federal do Rio de Janeiro</h2>
</div>
