.table {
  border: var(--border-medium-gray);
  background: var(--light-gray);

  &__thead {
    &__tr {
      &__th {
        padding: 1rem;
        border: var(--border-medium-gray);
        background: var(--white);
        font-weight: 500;
        font-size: 1.2rem;
        text-align: start;
      }
    }
  }

  &__tbody {
    &__tr {
      cursor: pointer;

      &__td {
        vertical-align: middle;
        text-align: start;
        padding: 0.75rem 1rem;
      }

      &:hover {
        background: var(--white);
        box-shadow: var(--box-shadow-medium-gray);
      }
    }
  }
}
