@import './src/variables';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  &__text {
    color: $white;
    text-align: center;
  }

  &__buttons {
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &__button {
      width: 100%;
    }
  }
}
