@import './src/variables';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;

  &__text {
    padding: 32px;
    color: $white;
  }

  &__buttons {
    width: calc(100% - 64px);
    display: flex;
    flex-direction: row;
    gap: 16px;

    &__button {
      width: 100%;
    }
  }
}
