@import 'src/variables.scss';

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 128px;
  background: $black;

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 24px;

    &__agora {
      padding-bottom: 16px;
      height: 60px;
      cursor: pointer;
    }

    &__sd {
      width: 48px;
      height: 48px;
      padding: 16px 0 16px 24px;
      border-left: 1px solid $secondary;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;

    &__option {
      color: $primary;
      font-size: 18px;
      line-height: 100%;
      padding: 16px 24px;
      border-right: 1px solid $secondary;
      cursor: pointer;

      transition: $transition;

      &:hover, &--active {
        text-shadow: 0 0 12px $primary, 0 0 24px $primary;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}
