@import 'src/variables.scss';

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 128px;
  background: $black;

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 24px;

    &__agora {
      padding-bottom: 16px;
      height: 60px;
    }

    &__sd {
      width: 48px;
      height: 48px;
      padding: 16px 0 16px 24px;
      border-left: 1px solid $secondary;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;

    &__option {
      color: $primary;
      font-size: 18px;
      line-height: 100%;
      padding: 16px 24px;
      border-right: 1px solid $secondary;
      cursor: pointer;

      transition: $transition;

      &:hover, &--active {
        text-shadow: 0 0 12px $primary, 0 0 24px $primary;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

@media (width <= 1600px) {
  .navbar {
    padding: 48px 96px;

    &__logo {
      gap: 16px;

      &__agora {
        padding-bottom: 8px;
        height: 48px;
      }

      &__sd {
        width: 36px;
        height: 36px;
        padding: 8px 0 8px 16px;
      }
    }

    &__menu {
      &__option {
        font-size: 12px;
        padding: 8px 16px;
      }
    }
  }
}

@media (width < 1440px) {
  .navbar {
    padding: 36px 64px;

    &__logo {
      gap: 8px;

      &__agora {
        padding-bottom: 4px;
        height: 36px;
      }

      &__sd {
        width: 24px;
        height: 24px;
        padding: 4px 0 4px 8px;
      }
    }

    &__menu {
      &__option {
        font-size: 10px;
        padding: 4px 8px;
      }
    }
  }
}
