<div class="navbar">
  <div class="navbar__logo">
    <img src="assets/agora-logo.png" class="navbar__logo__agora" routerLink="/" />
    <img src="assets/sd-logo.png" class="navbar__logo__sd" />
  </div>
  <ul class="navbar__menu">
    <li class="navbar__menu__option" routerLink="/dashboard" routerLinkActive="navbar__menu__option--active">
      Dashboard
    </li>
    <li class="navbar__menu__option" routerLink="/articles" routerLinkActive="navbar__menu__option--active">
      Artigos
    </li>
    <li class="navbar__menu__option" routerLink="/goals" routerLinkActive="navbar__menu__option--active">
      Metas
    </li>
    <li class="navbar__menu__option" routerLink="/debates" routerLinkActive="navbar__menu__option--active">
      Debates
    </li>
    <li class="navbar__menu__option" routerLink="/members" routerLinkActive="navbar__menu__option--active">
      Membros
    </li>
    <li *ngIf="isAdmin()" class="navbar__menu__option" routerLink="/member" routerLinkActive="navbar__menu__option--active">
      Relatório
    </li>
    <!-- <li class="navbar__menu__option" routerLink="/rio-open" routerLinkActive="navbar__menu__option--active">
      Rio Open
    </li> -->
  </ul>
</div>
