@import 'src/variables.scss';

.page {
  background: $black;
  overflow-x: hidden;

  &__banner {
    height: 4rem;
    background: $primary;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      color: black;
      font-size: 1.5rem;

      &__link {
        color: $link;
      }
    }
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;

    &__logo {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 1rem;

      &__agora {
        padding-bottom: 0.5rem;
        height: 3rem;
        cursor: pointer;
      }

      &__sd {
        width: 2rem;
        height: 2rem;
        padding: 0.5rem 0 0.625rem 1rem;
        border-left: 1px solid $secondary;
      }
    }

    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      list-style: none;

      &__option {
        color: $primary;
        font-size: 1rem;
        line-height: 100%;
        padding: 0.5rem 1rem;
        border-right: 1px solid $secondary;
        cursor: pointer;

        transition: $transition;

        &:hover {
          text-shadow: 0 0 0.75rem $primary, 0 0 1.5rem $primary;
        }

        &--condeb {
          color: $condebsecondary;

          &:hover {
            text-shadow: 0 0 0.75rem $condebsecondary, 0 0 1.5rem $condebsecondary;
          }
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border-right: none;
          padding-right: 0;
        }
      }
    }
  }

  &__overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2rem;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2rem;

      &__title {
        display: flex;

        &__text {
          font-size: 2rem;
          line-height: 100%;
          color: $primary;
        }
      }

      &__description {
        font-size: 1.5rem;
        line-height: 125%;
        color: $white;
      }

      &__caption {
        font-size: 1.125rem;
        line-height: 100%;
        color: $white;
      }
    }

    &__image {
      height: 20rem;
    }
  }

  &__transition {
    width: 100%;
    line-height: 0;

    &__image {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    gap: 2rem;

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 0 1rem;

      &__text {
        font-size: 2rem;
        line-height: 100%;
        color: $primary;
        text-align: center;
      }
    }

    &__content {
      padding: 2rem 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        width: 100%;

        &__icon {
          height: 6rem;
        }

        &__title {
          font-size: 1.5rem;
          color: $primary;
          line-height: 100%;
        }

        &__description {
          font-size: 1.125rem;
          color: $white;
          line-height: 125%;
          text-align: justify;
        }
      }
    }
  }

  &__members {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    gap: 2rem;

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 0 1rem;

      &__text {
        font-size: 2rem;
        line-height: 100%;
        color: $primary;
        text-align: center;
      }
    }

    &__content {
      padding: 2rem 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;

        &__image {
          width: 20rem;
        }

        &__title {
          font-size: 1.5rem;
          color: $primary;
          line-height: 100%;
        }

        &__description {
          font-size: 1.125rem;
          color: $white;
          line-height: 125%;
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background: $secondary;

    &__logo {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 1.5rem;

      &__agora {
        padding-bottom: 0.5rem;
        height: 3rem;
        cursor: pointer;
      }

      &__sd {
        width: 2rem;
        height: 2rem;
        padding: 0.5rem 0 0.625rem 1rem;
        border-left: 1px solid $black;
      }
    }

    &__credits {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 1rem;

      &__copyright {
        font-size: 1.125rem;
        color: $black;
        line-height: 100%;
      }

      &__author {
        font-size: 0.875rem;
        color: $black;
        line-height: 100%;
      }
    }
  }
}

::ng-deep .typed-cursor {
  font-size: 2rem;
  line-height: 100%;
  color: $primary;
}

::ng-deep .typed-cursor--blink {
  animation: typedjsBlink 1.2s infinite !important;
}

@media (width <= $medium) {
  .page {
    &__overview {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &__content {
        align-items: center;

        &__description {
          text-align: justify;
        }
      }
    }
  
    &__info {
      &__content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__card {
          align-items: center;
        }
      }
    }
  
    &__members {
      &__content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
  
    &__footer {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      &__credits {
        align-items: center;
      }
    }
  }
}