@import 'src/variables.scss';

.page {
  background: $black;
  overflow-x: hidden;

  &__banner {
    height: 64px;
    background: $primary;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      color: black;
      font-size: 24px;

      &__link {
        color: $link;
      }
    }
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 64px 128px;

    &__logo {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 24px;

      &__agora {
        padding-bottom: 16px;
        height: 60px;
      }

      &__sd {
        width: 48px;
        height: 48px;
        padding: 16px 0 16px 24px;
        border-left: 1px solid $secondary;
      }
    }

    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      list-style: none;

      &__option {
        color: $primary;
        font-size: 18px;
        line-height: 100%;
        padding: 16px 24px;
        border-right: 1px solid $secondary;
        cursor: pointer;

        transition: all 225ms cubic-bezier(0.4, 0.0, 0.2, 1);

        &:hover {
          text-shadow: 0 0 12px $primary, 0 0 24px $primary;
        }

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  &__overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding: 16px 128px 0 128px;
    gap: 256px;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 32px;

      &__title {
        display: flex;

        &__text {
          font-size: 48px;
          line-height: 100%;
          color: $primary;
        }
      }

      &__description {
        font-size: 24px;
        line-height: 125%;
        color: $secondary;
      }

      &__caption {
        font-size: 18px;
        line-height: 100%;
        color: $secondary;
      }
    }
  }

  &__transition {
    width: 100%;
    line-height: 0;

    &__image {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 128px 0;
    gap: 128px;

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 16px;

      &__text {
        font-size: 48px;
        line-height: 100%;
        color: $primary;
      }
    }

    &__content {
      padding: 0 128px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 128px;

      &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;

        &__title {
          font-size: 24px;
          color: $primary;
          line-height: 100%;
        }

        &__description {
          font-size: 18px;
          color: $secondary;
          line-height: 125%;
        }
      }
    }
  }

  &__members {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 128px 0;
    gap: 128px;

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 16px;

      &__text {
        font-size: 48px;
        line-height: 100%;
        color: $primary;
      }
    }

    &__content {
      padding: 0 128px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 256px;

      &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 32px;

        &__title {
          font-size: 24px;
          color: $primary;
          line-height: 100%;
        }

        &__description {
          font-size: 18px;
          color: $secondary;
          line-height: 125%;
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 64px 128px;
    background: $secondary;

    &__logo {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 24px;

      &__agora {
        padding-bottom: 16px;
      }

      &__sd {
        width: 48px;
        height: 48px;
        padding: 16px 0 16px 24px;
        border-left: 1px solid $black;
      }
    }

    &__credits {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 16px;

      &__copyright {
        font-size: 18px;
        color: $black;
        line-height: 100%;
      }

      &__author {
        font-size: 14px;
        color: $black;
        line-height: 100%;
      }
    }
  }
}

::ng-deep .typed-cursor {
  font-size: 48px;
  line-height: 100%;
  color: $primary;
}

::ng-deep .typed-cursor--blink {
  animation: typedjsBlink 1.2s infinite !important;
}

@media (width <= 1920px) {
  .page {
    &__navbar {
      padding: 48px 96px;

      &__logo {
        gap: 16px;

        &__agora {
          padding-bottom: 8px;
          height: 48px;
        }

        &__sd {
          width: 36px;
          height: 36px;
          padding: 8px 0 8px 16px;
        }
      }

      &__menu {
        &__option {
          font-size: 12px;
          padding: 8px 16px;
        }
      }
    }

    &__overview {
      padding-top: 8px;
      padding: 8px 96px 0 96px;
      gap: 192px;

      &__content {
        gap: 24px;

        &__title {
          &__text {
            font-size: 36px;
          }
        }

        &__description {
          font-size: 24px;
        }

        &__caption {
          font-size: 12px;
        }

        &__button {
          font-size: 12px;
        }
      }

      &__image {
        width: 600px;
        height: 600px;
      }
    }

    &__info {
      margin: 96px 0;
      gap: 96px;

      &__title {
        gap: 8px;

        &__text {
          font-size: 36px;
        }

        &__ornament {
          height: 64px;
        }
      }

      &__content {
        padding: 0 96px;
        gap: 96px;

        &__card {
          gap: 24px;

          &__icon {
            height: 96px;
          }

          &__title {
            font-size: 16px;
          }

          &__description {
            font-size: 12px;
          }
        }
      }
    }

    &__members {
      margin: 96px 0;
      gap: 96px;

      &__title {
        gap: 8px;

        &__text {
          font-size: 36px;
        }

        &__ornament {
          height: 64px;
        }
      }

      &__content {
        padding: 0 96px;
        gap: 192px;

        &__card {
          gap: 24px;

          &__image {
            height: 256px;
          }

          &__title {
            font-size: 16px;
          }

          &__description {
            font-size: 12px;
          }
        }
      }
    }

    &__footer {
      padding: 48px 96px;

      &__logo {
        gap: 16px;

        &__agora {
          padding-bottom: 8px;
          height: 48px;
        }

        &__sd {
          width: 36px;
          height: 36px;
          padding: 8px 0 8px 16px;
          border-left: 1px solid $black;
        }
      }

      &__credits {
        gap: 8px;

        &__copyright {
          font-size: 12px;
        }

        &__author {
          font-size: 8px;
        }
      }
    }
  }

  ::ng-deep .typed-cursor {
    font-size: 36px;
  }
}

@media (width < 1440px) {
  .page {
    &__navbar {
      padding: 36px 64px;

      &__logo {
        gap: 8px;

        &__agora {
          padding-bottom: 4px;
          height: 36px;
        }

        &__sd {
          width: 24px;
          height: 24px;
          padding: 4px 0 4px 8px;
        }
      }

      &__menu {
        &__option {
          font-size: 10px;
          padding: 4px 8px;
        }
      }
    }

    &__overview {
      padding-top: 4px;
      padding: 4px 64px 0 64px;
      gap: 128px;

      &__content {
        gap: 16px;

        &__title {
          &__text {
            font-size: 24px;
          }
        }

        &__description {
          font-size: 16px;
        }

        &__caption {
          font-size: 10px;
        }

        &__button {
          font-size: 10px;
        }
      }

      &__image {
        width: 400px;
        height: 400px;
      }
    }

    &__info {
      margin: 64px 0;
      gap: 64px;

      &__title {
        gap: 4px;

        &__text {
          font-size: 24px;
        }

        &__ornament {
          height: 48px;
        }
      }

      &__content {
        padding: 0 64px;
        gap: 64px;

        &__card {
          gap: 16px;

          &__icon {
            height: 64px;
          }

          &__title {
            font-size: 12px;
          }

          &__description {
            font-size: 10px;
          }
        }
      }
    }

    &__members {
      margin: 64px 0;
      gap: 64px;

      &__title {
        gap: 4px;

        &__text {
          font-size: 24px;
        }

        &__ornament {
          height: 48px;
        }
      }

      &__content {
        padding: 0 64px;
        gap: 128px;

        &__card {
          gap: 16px;

          &__image {
            height: 192px;
          }

          &__title {
            font-size: 12px;
          }

          &__description {
            font-size: 10px;
          }
        }
      }
    }

    &__footer {
      padding: 36px 64px;

      &__logo {
        gap: 8px;

        &__agora {
          padding-bottom: 4px;
          height: 36px;
        }

        &__sd {
          width: 24px;
          height: 24px;
          padding: 4px 0 4px 8px;
        }
      }

      &__credits {
        gap: 4px;

        &__copyright {
          font-size: 10px;
        }

        &__author {
          font-size: 8px;
        }
      }
    }
  }

  ::ng-deep .typed-cursor {
    font-size: 24px;
  }
}

