:host {
  --yellow: #fbb344;
  --translucent-yellow-10: #fbb3441a;
  --translucent-yellow-5: #fbb3440d;
  --red: #fb4444;
  --translucent-red-10: #fb44441a;
  --translucent-red-5: #fb46460d;
  --black: #2d2d2d;
  --light-gray: #fafafa;
  --light-medium-gray: #f3f3f3;
  --medium-gray: #bbbbbb;
  --disabled-gray: #eeeeee;
  --white: #fff;

  --transition: all 0.25s ease-in-out;
  --border: 1px solid var(--yellow);
  --box-shadow: 0 0 1px 1px var(--yellow);
  --border-medium-gray: 1px solid var(--medium-gray);
  --box-shadow-medium-gray: 0 0 1px 1px var(--medium-gray);
  --filter: brightness(0) saturate(100%) invert(84%) sepia(18%) saturate(1882%) hue-rotate(329deg) brightness(99%) contrast(98%);
  --filter-black: brightness(0) saturate(100%) invert(15%) sepia(0%) saturate(1167%) hue-rotate(218deg) brightness(109%) contrast(97%);

  --sidebar-width: 25rem;
}
