<div class="debates">
  <div class="debates__header">
    <div class="debates__header__title">Data</div>
    <div class="debates__header__title">Moção</div>
    <div class="debates__header__title">Chair</div>
    <div class="debates__header__title"></div>
    <div class="debates__header__title"></div>
  </div>
  <div class="debates__body">
    <div class="debates__body__row" *ngFor="let debate of debates" (click)="goToDebatePage(debate.id)">
      <div class="debates__body__row__value">{{ getDate(debate.date, debate.time) }}</div>
      <div class="debates__body__row__value">{{ debate.motion }}</div>
      <div class="debates__body__row__value">{{ debate.chair.name }}</div>
      <div class="debates__body__row__value">
        <img *ngIf="showEdit()" (click)="editDebate(debate.id, $event)" src="assets/edit-text.png" class="debates__body__row__value__icon" />
      </div>
      <div class="debates__body__row__value">
        <img *ngIf="showDelete()" (click)="deleteDebate(debate.id, $event)" src="assets/delete.png" class="debates__body__row__value__icon" />
      </div>
    </div>
  </div>
</div>