@import 'src/variables.scss';

.form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__input {
    width: 240px;
  }
}

.table {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin-top: 32px;
  table-layout: fixed;

  &__header {
    &__tr {
      &__th {
        padding-right: 16px;
        overflow: hidden;

        &--0 {
          width: 320px;
          white-space: normal;
        }

        &--1 {
          width: auto;
        }

        &--2 {
          width: 300px;
        }

        &--3 {
          width: 64px;
        }

        &--4 {
          width: 64px;
        }
      }
    }
  }

  &__body {
    &__tr {
      padding-right: 16px;
      cursor: pointer;
      transition: $transition;

      &__td {
        width: 0;
        padding-right: 16px;
        overflow: hidden;
        vertical-align: middle;

        &--1 {
          width: max-content;
          white-space: normal;
          padding-top: 12px;
          padding-bottom: 12px;
        }

        &__img {
          filter: $filter;
          width: 24px;
          height: 24px;
        }

        &__details {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 32px;

          &__call {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            min-width: calc(100% - 428px);

            &__house {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 24px;
              padding: 16px 32px;
              border-right: 1px solid $secondary;
              width: 25%;

              &:last-child {
                padding: 32px;
              }

              &__header {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;

                &__placement {
                  font-size: 16px;
                  line-height: 100%;
                  color: $primary;
                }

                &__name {
                  font-size: 16px;
                  line-height: 100%;
                  color: $white;
                }
              }

              &__debater {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 8px;

                &__content {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 4px;

                  &__position {
                    font-size: 12px;
                    line-height: 100%;
                    color: $white;
                  }

                  &__name {
                    font-size: 14px;
                    line-height: 100%;
                    color: $primary;

                    &__society {
                      font-size: 12px;
                      line-height: 100%;
                      color: $white;
                    }
                  }

                  &__sps {
                    font-size: 14px;
                    line-height: 100%;
                    color: $primary;

                    &__text {
                      font-size: 12px;
                      line-height: 100%;
                      color: $white;
                    }
                  }
                }
              }
            }
          }

          &__debate {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 16px;
            padding-right: 32px;
            width: 388px;

            &__detail {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 4px;

              &--100 {
                width: 100%;
              }

              &--100 &__value {
                line-height: 125%;
              }

              &--big &__title {
                font-size: 14px;
              }

              &--big &__value{
                font-size: 16px;

                &__detail {
                  font-size: 14px;
                }
              }

              &__title {
                font-size: 12px;
                line-height: 100%;
                color: $white;
              }

              &__value {
                font-size: 14px;
                line-height: 100%;
                color: $primary;

                &__detail {
                  font-size: 12px;
                  line-height: 100%;
                  color: $white;
                }
              }
            }

          }
        }
      }

      &--detail {
        height: 0;
        background: $brown;
      }

      &:hover {
        background: rgba(0,0,0,0.05);
      }
    }
  }
}
