<div class="login">
  <div class="login__header">
    <div class="login__header__logo">
      <img src="assets/agora-logo.png" class="login__header__logo__agora" />
      <img src="assets/sd-logo.png" class="login__header__logo__sd" />
    </div>
  </div>
  <div class="login__body">
    <form [formGroup]="form" class="login__body__form" (submit)="onSubmit()">
      <mat-form-field class="login__body__form__field">
        <mat-label>Login</mat-label>
        <input matInput formControlName="login">
        <mat-error *ngIf="!form.valid">O login é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field class="login__body__form__field">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="!form.valid">A senha é obrigatória</mat-error>
      </mat-form-field>
      <p class="login__body__form__text" *ngIf="wrongLogin">O login ou senha estão errados.</p>
      <button
        class="login__body__form__button"
        mat-raised-button
        color="primary"
        type="submit"
      >Enviar</button>
    </form>
    <!-- <p class="login__body__text">
      Não possui um cadastro? Crie um <b routerLink="/signup" class="login__body__text__link">aqui</b>.
    </p> -->
  </div>
</div>
<app-spinner [loading]="loading" [fullscreen]="true"></app-spinner>
