@import 'variables';

.members-page {
  min-height: 100vh;
  background: $background-dark;

  &__navbar {
    width: 100%;
  }

  &__content {
    max-width: 1400px;
    margin: 0 auto;
    padding: $space-8 $space-6;

    @media (max-width: $breakpoint-md) {
      padding: $space-6 $space-4;
    }

    &--hide {
      display: none;
    }
  }
}
