<div class="profile">
  <div class="profile__header">
    <button class="profile__header__back" (click)="goToDashboard()">
      <img class="profile__header__back__icon" src="assets/back.png" />
      <span class="profile__header__back__text">Back</span>
    </button>
    <app-logo class="profile__header__logo"></app-logo>
  </div>
  <div class="profile__body">
    <form [formGroup]="form" class="profile__body__form" (submit)="onSubmit()">
      <div class="profile__body__form__field" *ngFor="let field of fields">
        <label class="profile__body__form__field__label">{{ field.label }}</label>
        <div class="profile__body__form__field__input">
          <input
            [ngClass]="{ 'profile__body__form__field__input__input--disabled': field.disabled }"
            class="profile__body__form__field__input__input"
            [type]="field.type"
            [placeholder]="field.placeholder"
            [formControlName]="field.formControlName"
            [readOnly]="field.disabled"
          />
          <ngx-spinner
            *ngIf="loading"
            bdColor="#fff0"
            class="profile__body__form__field__input__spinner"
            color = "#fbb344"
            type="timer"
            [fullScreen]="false"
            size="default"
          ></ngx-spinner>
          <img
            *ngIf="field.disabled && !loading"
            src="assets/edit.png"
            class="profile__body__form__field__input__edit"
            (click)="edit(field)"
          />
          <img
            *ngIf="!field.disabled && !loading"
            src="assets/check.png"
            class="profile__body__form__field__input__check"
            (click)="check(field)"
          />
        </div>
      </div>
      <button class="profile__body__form__send" (click)="updateUser()">Atualizar</button>
    </form>
  </div>
</div>
