@import '/src/variables.scss';

.page {
  &__banner {
    height: 64px;
    background: $primary;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      color: black;
      font-size: 24px;

      &__link {
        color: $link;
      }
    }
  }

  &__navbar {
    background: $condebprimary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 64px 128px;

    &__logo {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 24px;

      &__agora {
        padding-bottom: 16px;
        height: 60px;
        cursor: pointer;
      }

      &__sd {
        width: 48px;
        height: 48px;
        padding: 16px 0 16px 24px;
        border-left: 1px solid $condebwhite;
      }

      &__condeb {
        height: 48px;
        padding: 16px 0 16px 24px;
        border-left: 1px solid $condebwhite;
      }
    }

    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      list-style: none;

      &__option {
        color: $condebwhite;
        font-size: 18px;
        line-height: 100%;
        padding: 16px 24px;
        border-right: 1px solid $condebwhite;
        cursor: pointer;

        transition: $transition;

        &:hover {
          text-shadow: 0 0 12px $condebwhite, 0 0 24px $condebwhite;
        }

        &:last-child {
          border-right: none;
        }

        &--active {
          color: $primary;

          &:hover {
            text-shadow: 0 0 12px $primary, 0 0 24px $primary;
          }
        }
      }
    }
  }

  &__introduction {
    padding: 64px 128px 16px 128px;
    width: calc(100% - 256px);

    &__title {
      font-size: 32px;
      color: $primary;
    }

    &__description {
      font-size: 20px;
      color: $white;
      margin-top: 16px;
    }

    &__form {
      margin-top: 32px;
    }
  }

  &__body {
    display: grid;
    gap: 64px;
    grid-template-columns: max-content 1fr;
    padding: 32px 128px;

    &__sidebar {
      &__content {
        position: sticky;
        top: 16px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;

        &__subtitle {
          font-size: 20px;
          color: $white;
          cursor: pointer;
          transition: $transition;

          &:hover {
            color: $primary;
          }
        }

        &__items {
          padding-left: 16px;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 8px;

          &__item {
            font-size: 20px;
            color: $white;
            cursor: pointer;
            transition: $transition;

            &:hover {
              color: $primary;
            }
          }
        }
      }
      }

    &__content {
      width: 100%;

      &__tournament {
        &__title {
          font-size: 48px;
          color: $primary;
        }

        &__subtitle {
          font-size: 40px;
          margin-top: 32px;
          color: $white;
        }

        &__list {
          margin-top: 32px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 8px;

          &__item {
            &__value {
              font-size: 20px;
              color: $white;

              &--condebsecondary {
                color: $condebsecondary;
              }

              &--primary {
                color: $primary;
                text-transform: capitalize;
              }
            }

            &__subvalues {
              margin: 16px 0;
              &__subvalue {
                color: $white;
              }
            }
          }
        }

        &__rounds {
          &__round {
            margin-top: 32px;

            &__name {
              font-size: 24px;
              color: $condebwhite;
            }

            &__debates {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              margin-top: 16px;
              gap: 64px;
              flex-wrap: wrap;

              &__debate {
                padding: 32px;
                border: 1px solid $condebwhite;
                border-radius: 5px;

                &__venue {
                  color: $primary;
                }

                &__motion {
                  margin-top: 8px;
                  color: $condebwhite;
                }

                &__side {
                  margin-top: 16px;

                  &__title {
                    font-size: 20px;
                    color: $primary;

                    span {
                      font-size: 20px;
                    }

                    .primary {
                      color: $primary;
                    }

                    .condebsecondary {
                      color: $condebsecondary;
                    }
                  }

                  &__team {
                    margin-top: 8px;
                    color: $condebwhite;
                  }

                  &__speakers {
                    &__speaker {
                      margin-top: 16px;
                      color: $condebwhite;

                      span {
                        color: $primary;
                      }

                      .condebsecondary {
                        color: $condebsecondary;
                      }
                    }
                  }
                }

                &__adjudicators {
                  margin-top: 32px;

                  &__title {
                    color: $primary;
                    font-size: 24px;
                  }

                  &__chair {
                    margin-top: 8px;
                    font-size: 18px;
                    color: $condebwhite;

                    .primary {
                      color: $primary;
                    }

                    .condebsecondary {
                      color: $condebsecondary;
                    }
                  }

                  &__wings {
                    &__wing {
                      margin-top: 8px;
                      color: $condebwhite;

                      .condebsecondary {
                        color: $condebsecondary;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
