.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;

  &__upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    &__image {
      width: 15rem;
    }

    &__text {
      font-family: Aldine;
      font-size: 5rem;
      font-weight: 400;
      color: var(--yellow-2);
      line-height: 80%;
      display: flex;
      align-items: center;

      &__detail {
        width: 5rem;
      }
    }
  }

  &__lower {
    font-family: Ahoura;
    font-size: 1.9rem;
    color: var(--black);
  }
}
