.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  margin-top: 5rem;

  &__upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    &__image {
      width: 12rem;
    }

    &__text {
      font-size: 4rem;
      font-weight: 400;
      color: var(--yellow-2);
      line-height: 80%;
      display: flex;
      align-items: center;

      &__detail {
        width: 3.5rem;
      }
    }
  }

  &__lower {
    font-size: 1.45rem;
    color: var(--black);
  }
}
