<div class="debaters">
  <app-logo class="debaters__header"></app-logo>
  <app-table
    class="debaters__body"
    [ths]="ths"
    [trs]="trs"
  ></app-table>
  <form class="debaters__footer" [formGroup]="form" (submit)="createDebater()">
    <div class="debaters__footer__inputs">
      <app-input
        [form]="form"
        control="name"
        placeholder="Nome"
        label="Nome"
        width="15rem"
      ></app-input>
    </div>
    <app-button
      text="Adicionar"
      type="submit"
    ></app-button>
  </form>
</div>
<app-sidebar></app-sidebar>
