.debaters {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;

  &__header {
    padding-left: var(--sidebar-width);
  }

  &__body {
    padding-left: var(--sidebar-width);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -2rem;
    gap: 2rem;
    padding-bottom: 3rem;
    padding-left: var(--sidebar-width);

    &__inputs {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }
  }
}
