@use '@angular/material' as mat;

@import 'src/variables.scss';

@include mat.core();

$my-primary: mat.define-palette((
  50: #fff7e8,
  100: #ffecc6,
  200: #ffe0a0,
  300: #ffd379,
  400: #ffc95d,
  500: #ffc040,
  600: #ffba3a,
  700: #ffb232,
  800: #ffaa2a,
  900: #ff9c1c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe8cd,
  A700: #ffdcb3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
));
$my-accent: mat.define-palette((
  50: #f2eee6,
  100: #ded4c0,
  200: #c8b797,
  300: #b19a6d,
  400: #a1844d,
  500: #906e2e,
  600: #886629,
  700: #7d5b23,
  800: #73511d,
  900: #613f12,
  A100: #ffcf98,
  A200: #ffb765,
  A400: #ffa032,
  A700: #ff9419,
  contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
  )
));

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(
  $font-family: 'Poppins'
 ),
 density: 0,
));

@include mat.all-component-themes($my-theme);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@font-face {
  src: url('assets/fonts/Greek-Freak.ttf');
  font-family: 'Greek Freak';
}

* {
	margin: 0;
	padding: 0;
  font-family: 'Poppins';
}

html, body { height: 100%; }

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

body {
  background: $black;
}

html {
  --primary: #FFC040;
  --secondary: #906E2E;
  --white: #D9D9D9;
  --black: #201C1C;
}

table {
  --mat-table-background-color: var(--black) !important;
}

mat-paginator {
  --mat-paginator-container-background-color: var(--black) !important;
}

mat-dialog-container {
  --mdc-dialog-container-color: var(--black) !important;
}

mat-stepper {
  --mat-stepper-container-color: var(--black) !important;
}

a {
  color: inherit;
}
