$primary: #FFC040;
$secondary: #906E2E;
$white: #D9D9D9;
$black: #201C1C;
$brown: #282424;
$link: #3030ee;
$danger: #f44336;
$success: #9ccc65;
$filter: brightness(0) saturate(100%) invert(89%) sepia(28%) saturate(2529%) hue-rotate(325deg) brightness(105%) contrast(103%);
$transition: all 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
