<div class="field" [formGroup]="form">
  <label class="field__label">{{ label }}</label>
  <div class="field__textarea">
    <textarea
      #textarea
      class="field__textarea__input"
      [placeholder]="placeholder"
      [formControlName]="control"
      [style.width]="width"
      (click)="openDropdown()"
    ></textarea>
    <img
      class="field__textarea__close" src="assets/close.png"
      (click)="removeValue()"
      *ngIf="hasValue"
    >
    <img class="field__textarea__icon" src="assets/back.png" />
    <ul class="field__textarea__dropdown" *ngIf="showDropdown && filteredOptions.length">
      <li
        class="field__textarea__dropdown__item"
        *ngFor="let option of filteredOptions"
        (click)="select(option)"
      >{{ option.value }}</li>
    </ul>
  </div>
</div>
