<div class="debates">
  <app-logo class="debates__header"></app-logo>
  <app-table
    class="debates__body"
    [ths]="ths"
    [trs]="trs"
    (rowClick)="selectDebate($event)"
  ></app-table>
  <form class="debates__footer" [formGroup]="form" (submit)="createDebate()">
    <div class="debates__footer__inputs">
      <app-textarea-select
        [form]="form"
        control="motion"
        placeholder="Moção"
        label="Moção"
        width="11.5rem"
        class="debates__footer__inputs__input"
        [options]="motionsOptions"
      ></app-textarea-select>
      <app-input-select
        [form]="form"
        control="thematic"
        placeholder="Temática"
        label="Temática"
        width="11.5rem"
        class="debates__footer__inputs__input"
        [options]="thematicsOptions"
      ></app-input-select>
      <app-input-select
        [form]="form"
        control="prefix"
        placeholder="Prefixo"
        label="Prefixo"
        width="11.5rem"
        class="debates__footer__inputs__input"
        [options]="prefixesOptions"
      ></app-input-select>
      <app-input-select
        [form]="form"
        control="tournament"
        placeholder="Torneio"
        label="Torneio"
        width="11.5rem"
        class="debates__footer__inputs__input"
        [options]="tournamentsOptions"
      ></app-input-select>
      <app-textarea-select
        [form]="form"
        control="infoSlideOne"
        placeholder="InfoSlide"
        label="InfoSlide 1"
        width="calc(100% - 5.5rem)"
        class="debates__footer__inputs__input debates__footer__inputs__input--first-half"
        [options]="infoSlidesOptions"
      ></app-textarea-select>
      <app-textarea-select
        [form]="form"
        control="infoSlideTwo"
        placeholder="InfoSlide"
        label="InfoSlide 2"
        width="calc(100% - 5.5rem)"
        class="debates__footer__inputs__input debates__footer__inputs__input--last-half"
        [options]="infoSlidesOptions"
      ></app-textarea-select>
      <app-select
        [form]="form"
        control="chair"
        label="Chair"
        [options]="judgesOptions"
        width="15rem"
        placeholder="Escolha o juíz"
      ></app-select>
      <app-select
        [form]="form"
        control="wingOne"
        label="Wing 1"
        [options]="judgesOptions"
        width="15rem"
        placeholder="Escolha o juíz"
      ></app-select>
      <app-select
        [form]="form"
        control="wingTwo"
        label="Wing 2"
        [options]="judgesOptions"
        width="15rem"
        placeholder="Escolha o juíz"
      ></app-select>
      <app-select
        [form]="form"
        control="wingThree"
        label="Wing 3"
        [options]="judgesOptions"
        width="15rem"
        placeholder="Escolha o juíz"
      ></app-select>
      <app-select
        [form]="form"
        control="og"
        label="Primeiro Governo"
        [options]="duosOptions"
        width="15rem"
        placeholder="Escolha a dupla"
      ></app-select>
      <app-select
        [form]="form"
        control="oo"
        label="Primeira Oposição"
        [options]="duosOptions"
        width="15rem"
        placeholder="Escolha a dupla"
      ></app-select>
      <app-select
        [form]="form"
        control="cg"
        label="Segundo Governo"
        [options]="duosOptions"
        width="15rem"
        placeholder="Escolha a dupla"
      ></app-select>
      <app-select
        [form]="form"
        control="co"
        label="Segunda Oposição"
        [options]="duosOptions"
        width="15rem"
        placeholder="Escolha a dupla"
      ></app-select>
      <app-select
        [form]="form"
        control="pm"
        label="Primeiro Ministro"
        [options]="debatersOptions"
        width="15rem"
        placeholder="Escolha o debatedor"
      ></app-select>
      <div class="debates__footer__inputs__input debates__footer__inputs__input--exchange">
        <app-input
          [form]="form"
          control="pmSp"
          placeholder="0"
          label="Speaker Points"
          width="5rem"
          type="number"
        ></app-input>
        <img class="debates__footer__inputs__input__icon" src="assets/exchange.png" (click)="switchDuo('pm', 'dpm')" />
      </div>
      <app-select
        [form]="form"
        control="lo"
        label="Líder da Oposição"
        [options]="debatersOptions"
        width="15rem"
        placeholder="Escolha o debatedor"
      ></app-select>
      <div class="debates__footer__inputs__input debates__footer__inputs__input--exchange">
        <app-input
          [form]="form"
          control="loSp"
          placeholder="0"
          label="Speaker Points"
          width="5rem"
          type="number"
        ></app-input>
        <img class="debates__footer__inputs__input__icon" src="assets/exchange.png" (click)="switchDuo('lo', 'dlo')" />
      </div>
      <app-select
        [form]="form"
        control="dpm"
        label="Adjunto do Governo"
        [options]="debatersOptions"
        width="15rem"
        placeholder="Escolha o debatedor"
      ></app-select>
      <app-input
        [form]="form"
        control="dpmSp"
        placeholder="0"
        label="Speaker Points"
        width="5rem"
        type="number"
      ></app-input>
      <app-select
        [form]="form"
        control="dlo"
        label="Adjunto da Oposição"
        [options]="debatersOptions"
        width="15rem"
        placeholder="Escolha o debatedor"
      ></app-select>
      <app-input
        [form]="form"
        control="dloSp"
        placeholder="0"
        label="Speaker Points"
        width="5rem"
        type="number"
      ></app-input>
      <app-select
        [form]="form"
        control="mg"
        label="Extensão do Governo"
        [options]="debatersOptions"
        width="15rem"
        placeholder="Escolha o debatedor"
      ></app-select>
      <div class="debates__footer__inputs__input debates__footer__inputs__input--exchange">
        <app-input
          [form]="form"
          control="mgSp"
          placeholder="0"
          label="Speaker Points"
          width="5rem"
          type="number"
        ></app-input>
        <img class="debates__footer__inputs__input__icon" src="assets/exchange.png" (click)="switchDuo('mg', 'gw')" />
      </div>
      <app-select
        [form]="form"
        control="mo"
        label="Extensão da Oposição"
        [options]="debatersOptions"
        width="15rem"
        placeholder="Escolha o debatedor"
      ></app-select>
      <div class="debates__footer__inputs__input debates__footer__inputs__input--exchange">
        <app-input
          [form]="form"
          control="moSp"
          placeholder="0"
          label="Speaker Points"
          width="5rem"
          type="number"
        ></app-input>
        <img class="debates__footer__inputs__input__icon" src="assets/exchange.png" (click)="switchDuo('mo', 'ow')" />
      </div>
      <app-select
        [form]="form"
        control="gw"
        label="Whip de Governo"
        [options]="debatersOptions"
        width="15rem"
        placeholder="Escolha o debatedor"
      ></app-select>
      <app-input
        [form]="form"
        control="gwSp"
        placeholder="0"
        label="Speaker Points"
        width="5rem"
        type="number"
      ></app-input>
      <app-select
        [form]="form"
        control="ow"
        label="Whip de Oposição"
        [options]="debatersOptions"
        width="15rem"
        placeholder="Escolha o debatedor"
      ></app-select>
      <app-input
        [form]="form"
        control="owSp"
        placeholder="0"
        label="Speaker Points"
        width="5rem"
        type="number"
      ></app-input>
    </div>
    <app-button
      text="Adicionar"
      type="submit"
    ></app-button>
  </form>
</div>
<app-sidebar></app-sidebar>
