<div class="page">
  <app-navbar class="page__navbar"></app-navbar>
  <div class="page__content">
    <form *ngIf="form" [formGroup]="form" class="page__content__form">
      <!-- <mat-form-field class="form__input">
        <mat-label>Ano</mat-label>
        <mat-select formControlName="year">
          <mat-option>Remover Filtro</mat-option>
          <mat-option value="2024">2024</mat-option>
        </mat-select>
      </mat-form-field> -->
      <div></div>
      <button *ngIf="isAdmin()" class="form__button" mat-flat-button color="primary" (click)="openCreateDebateModal()">Criar</button>
    </form>
    <app-debates-table class="page__content__table" [debates]="debates"></app-debates-table>
  </div>
</div>
